<div class="container">
  <div class="mt-3">
    <div class="row">
      <div class="col">
        <h1>All our Flats</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>We currently have <%= @flats.count %> flats available</p>
      </div>
    </div>
  </div>

  <div class="row cards">
    <% @flats.each do |flat| %>
      <div class="col-4">
        <div class="card">
        <div class="card-image" style="background-image: url('<%= flat.picture_url %>')"></div>
          <div class="card-body">
            <h5 class="card-title"><%= flat.name %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= flat.address %></h6>
            <div>
              <i class="fas fa-user-friends"> <%= flat.number_of_guests%></i>
              <i class="fas fa-dollar-sign ml-3"> <%= flat.price_per_night %></i>
            </div>
          </div>
          <div class="card-actions">
            <%= link_to 'More info', flat_path(flat) %>
            <%= link_to 'Edit', edit_flat_path(flat), class: 'ml-3 text-warning' %>
            <%= link_to "Remove", flat_path(flat),
                method: :delete, 
                data: { confirm: "Are you sure you wanna delete this flat?" },
                class: 'ml-3 text-danger'
            %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>



