<div class="container mt-3">
    <h1>All our Flats</h1>
    
    <p>All <%= @flats.count %> flats.</p>

    <% @flats.each do |flat| %>
        <h3><%= flat.name %></h3>
        <p>
        <%= flat.address %>
        <%= flat.number_of_guests %>
        <%= flat.price_per_night %>
        </p>
        <%= link_to "More Info", flat_path(flat) %>
        <%= link_to  "Edit", edit_flat_path(flat) %>
        <%= link_to  "Delete", flat_path(flat), method: 'delete', data: { confirm: 'Are you sure you want to delete your flat?' } %>
    <% end %>
</div>